@font-face {
    font-family: "Super Warming";
    src: url('Super Warming.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Super Warming';
    background-color: #fff0de;
} 

h1 {
    font-family: 'Super Warming';
    font-size: 55px;
    margin-bottom: 5px;
    color: #594a47;
}

table {
    margin:10px auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #594a47;
    border-radius: 16px;
    overflow: hidden;
}

tr:first-of-type td:first-of-type {
  border-top-left-radius: 15px;
}
tr:first-of-type td:last-of-type {
  border-top-right-radius: 15px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 15px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 15px;
}


td {
    width: 30px;
    height: 30px;
    /*border-radius: 6px;*/
    padding: 5px;
    border: 1px solid #594a47;
    cursor: pointer;
    background: #96c1c5;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}

td.mine {
    background: #ee5d5d;
}

td.clicked {
    background: #fff0de;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #594a47;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Super Warming';
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
  background-color: #96c1c5; /* Green */
  color: #594a47;
}