@font-face {
    font-family: "Super Warming";
    src: url('Super Warming.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Super Warming';
    font-size: "50px";
    margin-bottom: "5px";
    color: #006ab0;
}

table {
    margin:10px auto;
    border-collapse: collapse;
    border: 1px solid #999999;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    cursor: pointer;
    background: #b3b3b3;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

td.mine {
    background: red;
}

td.clicked {
    background: white;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}